.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    color: black;
}

.direction{
    font-family:'Courier New', Courier, monospace;
    font-size: 12pt;
    color: black;
    background-color: lightblue;
}

.direction:hover{
    color: red;
    background-color: yellow;
}

.name{}

.lane{
    color: darkviolet;
}

.mrs_bauer{
    color: deeppink;
}

table,td,th{
    border: 1pt solid;
    border-color: blue;
    border-collapse: collapse;
    text-align: center;
    padding: 10pt;
}

th{
    background-color: darksalmon;
}

tr:nth-child(even){
    background-color: lightgreen;
}

tr,th{
    width: 200px;
}