.speech {
    font-family:'Times New Roman', Times, serif;
    font-size: 16;
    color: black;
}
.direction{
    font-family: monospace;
    font-size: 20;
    color: black;
    background-color:lightblue;
}
.direction:hover{
    background-color: rgb(238, 230, 80);
    color: rgb(244, 19, 106);
}
.name{
    
}
.lane{
    font-size: 22;
    color: rgba(48, 220, 5, 0.84);
}
.bauer{
    font-size: 22;
    color:rgb(179, 73, 130);
}
table,th,td{
    border: 2px solid;
    border-color: rgb(0, 174, 255);
    border-collapse: collapse;
    text-align: center;
    padding: 10pt;
}
th{
    background-color: rgb(247, 197, 136);
}
tr,th{
    width: 200px;
    height: 1pt;
}
tr:nth-child(even){
    background-color: rgb(180, 242, 185);
}