.speech {
    font-family:'Times New Roman', Times, serif;
    font-size: 16;
    color: black;
}
.direction{
    font-family: monospace;
    font-size: 20;
    color: black;
    background-color:lightblue;
}
.direction:hover{
    background-color: rgb(238, 230, 80);
    color: rgb(244, 19, 106);
}
.name{
    
}
.lane{
    font-size: 22;
    color: rgba(48, 220, 5, 0.84);
}
.bauer{
    font-size: 22;
    color:rgb(179, 73, 130);
}
